body{
  font-size: Arial;
  background-color: #e6e6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.126);
}

/* .calculate{
  align-items: center;
} */

h1{
  text-align: center;
  font-family: Arial;
}

label{
  display: block;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

input{
  width: 50%;
  padding: 8px;
  margin-top: 5px;
  margin-left: 40px
  
}

label,input,button{
  margin-left:100px;
}

button{
  width: 130px;
  margin-top: 15px;
  padding: 10px;
  background-color: #006eff;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #006effc4;
}

.results{
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
}